body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 40px 0;
}

section {
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.project {
    background: #fafafa;
    padding: 15px;
    margin-top: 10px;
    border-left: 5px solid #333;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
nav {
    background: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
 body{
    background-color: lightblue;
    font-family: Italic, sans-serif;
    text-align: left;
    margin: 20px;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;   /* Makes image round */
    margin-top: 10px;
    border: 3px solid white;
}
